// Identity colours
$primary: #1591f9;

// Greyscale
$light-grey: #e8e8e8;
$white: #fafafa;
$black: #020202;

// State
$danger: #F65160;
$warning: #ffbd21;
$ok: #0ac947;

// Other
$base-spacing: .5rem;
$base-delay: .2s